<div class="row">
	<div id="sidebar" class="span3" style="background: cyan;">
		
		<ul>
			<li>Management</li>
			<li>Fiction</li>
			<li>Leadership</li>
			<li>How To's</li>
		</ul>
		
	</div>
	<div id="body" class="span9" style="background: pink;">
		 
		 <div class="row">
			<div id="sub-menu" class="span9" style="background:yellow;">
				<p>Sort By:</p>
				<ul>
					<li><a href="#" data-sortby="Author">Author</a></li>
					<li><a href="#" data-sortby="Title">Title</a></li>
				</ul>
			</div>
		</div>
		
		 <div class="row">
			<div id="catalog" class="span9">
				
				<div class="row-fluid">
					<ul class="thumbnails">
						<li class="span3">
							<a href="#" class="thumbnail">
								<img width="128" height="178" src="http://localhost/bookshelf.resources/rich_dad_poor_dad.jpg" />
							</a>
						</li>						
						<li class="span3">
							<a href="#" class="thumbnail">
								<img width="128" height="178" src="http://localhost/bookshelf.resources/big_tech_score.jpg" />
							</a>
						</li>
						<li class="span3">
							<a href="#" class="thumbnail">
								<img width="128" height="178" src="http://localhost/bookshelf.resources/12_simple_secrets_of_ms.jpg" />
							</a>
						</li>
						<li class="span3">
							<a href="#" class="thumbnail">
								<img width="128" height="178" src="http://localhost/bookshelf.resources/selling_101.jpeg" />
							</a>
						</li>													
					</ul>
				</div>
				
			</div>
		 </div>

		 <div class="row">
			<div id="bottom-bar" class="span9" style="background:yellow;">
			    <div class="row">
					<div class="span6" style="background:orange;">
						<div class="btn-ground pull-left">
							<div class="btn"> &lt;</div>
							<div class="btn"> &gt;</div>						
						</div>
						
						<div class="pull-right">
							<p> 1 / 29 </p>
						</div>
						
					</div>
					<div class="span3" style="background:red;">
					
						<div class="input-append pull-right">
							<input class="input-large" type="text" placeholder="Add Book"/>
							<span class="add-on">&plus;</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>