<div id="homeView-template">
	
	<div class="row">
	
		<div class="span12" style="background: yellow; height: 30px;">
			 <div class="row">
					<div class="span9" style="background:cyan; height: 30px; position: relative;">
				
						<div style="position:absolute; top:50%; height:30px; margin-top:-15px;">
							<div class="btn btn-link">Featured</div>
							<div class="btn btn-link">Popular</div>
							<div class="btn btn-link">New</div>
						</div>
				
					</div>
					<div class="span3" style="background:red; height: 30px;">
					
						<ul class="nav pull-right">
							<li>
								<a href="#user-cart-modal" data-toggle="modal" data-target="#user-cart-modal"> 
									<i class="icon-shopping-cart"></i> Cart <span class="badge">30</span> items 
								</a>
							</li>
						</ul>
					
					</div>					
			 </div>
		</div>

	</div> <!-- /secondary navigation -->

	<div class="row">
	
		<div class="span12" style="background: green; margin-top: 10px; margin-bottom:10px;">
		
			<ul id="catalogue" class="thumbnails">
				
				  <li class="span3">
				    <a href="product.php" class="thumbnail">
						<img src="../resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
						  alt="Empowerment Beads">
				    </a> 
			
					<span class="" style="width: 100%;">
						<h4 style="float: left;  margin: 4px;"><img src="../resources/Images/Brands/HeelTheWorld/htw_s.jpg" width="24" height="24" alt="Htw S" /></h4>	
						<h4 style="float:left; background: yellow; margin: 4px; line-height: 24px;">HTW Shoes</h4>
						<h4 style="float:right; text-align: center; margin: 4px; line-height:24px;">GH&cent; 200</h4>
					</span>
				
				  </li>
			
				  <li class="span3">
				    <a href="product.php" class="thumbnail">
						<img src="../resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
						  alt="Empowerment Beads">
				    </a>
			
					<span class="" style="width: 100%;">
						<h4 style="float: left;  margin: 4px;"><img src="../resources/Images/Brands/HeelTheWorld/htw_s.jpg" width="24" height="24" alt="Htw S" /></h4>	
						<h4 style="float:left; background: yellow; margin: 4px; line-height: 24px;">HTW Shoes</h4>
						<h4 style="float:right; text-align: center; margin: 4px; line-height:24px;">GH&cent; 200</h4>
					</span>
				
				  </li>
			
				  <li class="span3">
				    <a href="product.php" class="thumbnail">
						<img src="../resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
						  alt="Empowerment Beads">
				    </a>

					<span class="" style="width: 100%;">
						<h4 style="float: left;  margin: 4px;"><img src="../resources/Images/Brands/HeelTheWorld/htw_s.jpg" width="24" height="24" alt="Htw S" /></h4>	
						<h4 style="float:left; background: yellow; margin: 4px; line-height: 24px;">HTW Shoes</h4>
						<h4 style="float:right; text-align: center; margin: 4px; line-height:24px;">GH&cent; 200</h4>
					</span>
									
				  </li>
			
				  <li class="span3">
				    <a href="product.php" class="thumbnail">
						<img src="../resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
						  alt="Empowerment Beads">
				    </a>

					<span class="" style="width: 100%;">
						<h4 style="float: left;  margin: 4px;"><img src="../resources/Images/Brands/HeelTheWorld/htw_s.jpg" width="24" height="24" alt="Htw S" /></h4>	
						<h4 style="float:left; background: yellow; margin: 4px; line-height: 24px;">HTW Shoes</h4>
						<h4 style="float:right; text-align: center; margin: 4px; line-height:24px;">GH&cent; 200</h4>
					</span>
				
				  </li>
			
				  <li class="span3">
				    <a href="product.php" class="thumbnail">
						<img src="../resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
						  alt="Empowerment Beads">
				    </a> 

					<span class="" style="width: 100%;">
						<h4 style="float: left;  margin: 4px;"><img src="../resources/Images/Brands/HeelTheWorld/htw_s.jpg" width="24" height="24" alt="Htw S" /></h4>	
						<h4 style="float:left; background: yellow; margin: 4px; line-height: 24px;">HTW Shoes</h4>
						<h4 style="float:right; text-align: center; margin: 4px; line-height:24px;">GH&cent; 200</h4>
					</span>
			
				  </li>
			
				  <li class="span3">
				    <a href="product.php" class="thumbnail">
						<img src="../resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
						  alt="Empowerment Beads">
				    </a>

					<span class="" style="width: 100%;">
						<h4 style="float: left;  margin: 4px;"><img src="../resources/Images/Brands/HeelTheWorld/htw_s.jpg" width="24" height="24" alt="Htw S" /></h4>	
						<h4 style="float:left; background: yellow; margin: 4px; line-height: 24px;">HTW Shoes</h4>
						<h4 style="float:right; text-align: center; margin: 4px; line-height:24px;">GH&cent; 200</h4>
					</span>
									
				  </li>
			
				  <li class="span3">
				    <a href="product.php" class="thumbnail">
						<img src="../resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
						  alt="Empowerment Beads">
				    </a>

					<span class="" style="width: 100%;">
						<h4 style="float: left;  margin: 4px;"><img src="../resources/Images/Brands/HeelTheWorld/htw_s.jpg" width="24" height="24" alt="Htw S" /></h4>	
						<h4 style="float:left; background: yellow; margin: 4px; line-height: 24px;">HTW Shoes</h4>
						<h4 style="float:right; text-align: center; margin: 4px; line-height:24px;">GH&cent; 200</h4>
					</span>
								
				  </li>
			
				  <li class="span3">
				    <a href="product.php" class="thumbnail">
						<img src="../resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
						  alt="Empowerment Beads">
				    </a>

					<span class="" style="width: 100%;">
						<h4 style="float: left;  margin: 4px;"><img src="../resources/Images/Brands/HeelTheWorld/htw_s.jpg" width="24" height="24" alt="Htw S" /></h4>	
						<h4 style="float:left; background: yellow; margin: 4px; line-height: 24px;">HTW Shoes</h4>
						<h4 style="float:right; text-align: center; margin: 4px; line-height:24px;">GH&cent; 200</h4>
					</span>
									
				  </li>
			
					
		     </ul>					
									
		</div>
	
	</div> <!-- /main content -->

	<div class="row">
		<div class="span12" style="background: orange; text-align: center;">
		
			<div class="btn">Load More</div>
		
		</div>
	</div> <!-- /load more button -->





	<div class="row">
		<div class="span12">
			<hr style="width: inherit;" />
		</div>
	</div> <!-- /footer separator -->

	<div class="row">
		<div class="span12" style="margin-top: -15px; margin-bottom:10px;">
			<div class="row">
				<div class="span8" style="background: red;">Copywrite &copy; <?php echo date('Y') ?> MallRiot, Inc.</div>
				<div class="span2" style="background: green;">Follow Us on Twitter</div>
				<div class="span2" style="background: orange;">Like on Facebook</div>										
			</div>
		
		</div>
	</div> <!-- /footer:: social media -->

</div>