<div class="row">

	<div class="span12" style="background: yellow; height: 30px;">
		 <div class="row">
				<div class="span9" style="background:cyan; height: 30px; position: relative;">
			
					<div style="position:absolute; top:50%; height:30px; margin-top:-15px;">
						<div class="btn btn-link">Featured</div>
						<div class="btn btn-link">Popular</div>
						<div class="btn btn-link">New</div>
					</div>
			
				</div>
				<div class="span3" style="background:red; height: 30px;">
				
					<ul class="nav pull-right">
						<li>
							<a href="#user-cart-modal" data-toggle="modal" data-target="#user-cart-modal"> 
								<i class="icon-shopping-cart"></i> Cart <span class="badge">30</span> items 
							</a>
						</li>
					</ul>
				
				</div>					
		 </div>
	</div>

</div> <!-- /secondary navigation -->

<div class="row">

	<div class="span12" style="background: green; margin-top: 10px; ">
	
		<ul id="catalogue" class="thumbnails">
			
			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a> 
			  </li>
		
			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>
			  </li>
		
			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>			
			  </li>
		
			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>
			  </li>
		
			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a> 
			  </li>
		
			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>			
			  </li>
		
			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>	
			  </li>
		
			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>		
			  </li>
			
			  
			<li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a> 
			  </li>

			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>			
			  </li>

			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>	
			  </li>

			  <li class="span3">
			    <a href="#product" class="thumbnail">
					<img src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg"
					  alt="Empowerment Beads">
			    </a>		
			  </li>			
			
	    </ul>					
								
	</div>

</div> <!-- /main content -->

<div class="row">
	<div class="span12" style="background: orange; text-align: center;">
	
		<div class="btn">Load More</div>
	
	</div>
</div> <!-- /load more button -->
