<div class="row">

	<div class="span12" style="background: yellow; ">
		 <div class="row">
				<div class="span9" style="background:cyan; position: relative;">
			
					<div class="row">
					
						<div class="span7" style="background: pink;">
							<h3>Empowerment Beads</h3>
						</div>
						<div class="span2" style="background: orange;">
							<h4>GH&cent; 49 </h4>
						</div>
					
					</div>
			
				</div>
				
				<div class="span3" style="background:red; height: 30px;">
				
					<ul class="nav pull-right">
						<li>
							<a href="#user-cart-modal" data-toggle="modal" data-target="#user-cart-modal"> 
								<i class="icon-shopping-cart"></i> Cart <span class="badge">30</span> items 
							</a>
						</li>
					</ul>
				
				</div>							
		 </div>
		
	</div>

</div> <!-- /secondary navigation -->

<div class="row">&nbsp;</div>

<div class="row">
	
	<div class="span12">
		
		<div class="row">
			<div class="span9" style="background: cyan;"> 
				
				<div class="row">
					
					<div class="span5" style="background: yellow;">
						
						<div class="row">
							
							<div class="span5">
								<img  class="img-polaroid" src="resources/images/brands/akataasia/products/girl_with_violin.jpg" />
							</div>																		
							
						</div>
						
						
					</div>
					
					<div class="span4" style="background: purple;">

					   <div class="row-fluid">
					
					   	 <div class="row-fluid">
					   	 	<div class="span12"><p><i class="icon-heart"></i> 13 Likes</p></div>
					   	 </div>

					   	 <div class="row-fluid">
					   	 	<div class="span12"><p><i class="icon-eye-open"></i> 80 Views</p></div>
					   	 </div>

					   	 <div class="row-fluid">
					   	 	<div class="span12">
								<a href="#" class="btn btn-link"><i class="icon-share"></i> Share</a>
							</div>
					   	 </div>

					   	 <div class="row-fluid">
					   	 	<div class="span12">
								<div class="btn btn-mini"><i class="icon-shopping-cart"></i>Add to Cart</div>
							</div>
					   	 </div>
					
					   </div>

						
					   <div class="row-fluid">
							&nbsp;
					   </div>


					   <div class="row-fluid">
					   	
							<ul class="nav nav-tabs" id="productTab">
							  <li class="active"><a href="#productDetails" data-toggle="tab">Product Details</a></li>
							  <li><a href="#comments" data-toggle="tab">Comments</a></li>
							</ul>

							<div class="tab-content">
							  <div class="tab-pane active" id="productDetails">
							  	<p style="padding:0 10px;">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
							  </div>
							  <div class="tab-pane" id="comments">
								<div class="" style="overflow: auto; max-height: 250px; background: yellow;">
							          
										<ul class="unstyled">

											<li style="float:left; width: 100%; margin-bottom:10px;">
												<div style="float: left;">
													<img class="img-polaroid" 	
														src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
													style="width:24px; height:24px; margin-right:5px;" /></div>
												<div style="float:left; width:320px; background: blue;">
													<h5 style="float: left; background: green; margin:0;">Drew Barnes</h5>
													<p style="float:right; background: yellow; margin:0;"> 11:05 am</p>
													<p style="float: left; background: green; margin:0;">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
												</div>
											</li>

											<li style="float:left; width: 100%; margin-bottom:10px;">
												<div style="float: left;">
													<img class="img-polaroid" 	
														src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
													style="width:24px; height:24px; margin-right:5px;" /></div>
												<div style="float:left; width:320px; background: blue;">
													<h5 style="float: left; background: green; margin:0;">Drew Barnes</h5>
													<p style="float:right; background: yellow; margin:0;"> 11:05 am</p>
													<p style="float: left; background: green; margin:0;">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
												</div>
											</li>

											<li style="float:left; width: 100%; margin-bottom:10px;">
												<div style="float: left;">
													<img class="img-polaroid" 	
														src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
													style="width:24px; height:24px; margin-right:5px;" /></div>
												<div style="float:left; width:320px; background: blue;">
													<h5 style="float: left; background: green; margin:0;">Drew Barnes</h5>
													<p style="float:right; background: yellow; margin:0;"> 11:05 am</p>
													<p style="float: left; background: green; margin:0;">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
												</div>
											</li>

											<li style="float:left; width: 100%; margin-bottom:10px;">
												<div style="float: left;">
													<img class="img-polaroid" 	
														src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
													style="width:24px; height:24px; margin-right:5px;" /></div>
												<div style="float:left; width:320px; background: blue;">
													<h5 style="float: left; background: green; margin:0;">Drew Barnes</h5>
													<p style="float:right; background: yellow; margin:0;"> 11:05 am</p>
													<p style="float: left; background: green; margin:0;">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
												</div>
											</li>

											<li style="float:left; width: 100%; margin-bottom:10px;">
												<div style="float: left;">
													<img class="img-polaroid" 	
														src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
													style="width:24px; height:24px; margin-right:5px;" /></div>
												<div style="float:left; width:320px; background: blue;">
													<h5 style="float: left; background: green; margin:0;">Drew Barnes</h5>
													<p style="float:right; background: yellow; margin:0;"> 11:05 am</p>
													<p style="float: left; background: green; margin:0;">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
												</div>
											</li>

										</ul>
									
								</div>
							  </div>
							</div>
					
					   </div>
					
					</div>							
					
				</div>
				
			</div>
			<div class="span3" style="background: orange;"> 
				<div class="page-header"><h4>Related Products</h4></div> 
				
				<ul class="unstyled">
					<li style="float:left; width: 100%; margin-bottom:10px;">
						<a href="#product">
							<div style="float: left;">
								<img class="img-polaroid" 	
									src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
								style="width:75px; height:50px; margin-right:5px;" /></div>
							<div style="float:left; width:180px; background: blue;">
								<h5 style="float: left; background: green; margin:0;">Empowerment Beads</h5>
								<p style="float: left; background: green; margin:0;">GH&cent; 49.99 </hp>
							</div>
						</a>
					</li>
					
					<li style="float:left; width: 100%; margin-bottom:10px;">
						<a href="#product">
							<div style="float: left;">
								<img class="img-polaroid" 	
									src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
								style="width:75px; height:50px; margin-right:5px;" /></div>
							<div style="float:left; width:180px; background: blue;">
								<h5 style="float: left; background: green; margin:0;">Empowerment Beads</h5>
								<p style="float: left; background: green; margin:0;">GH&cent; 49.99 </hp>
							</div>
						</a>
					</li>
					
					<li style="float:left; width: 100%; margin-bottom:10px;">
						<a href="#product">
							<div style="float: left;">
								<img class="img-polaroid" 	
									src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
								style="width:75px; height:50px; margin-right:5px;" /></div>
							<div style="float:left; width:180px; background: blue;">
								<h5 style="float: left; background: green; margin:0;">Empowerment Beads</h5>
								<p style="float: left; background: green; margin:0;">GH&cent; 49.99 </hp>
							</div>
						</a>
					</li>
					
					<li style="float:left; width: 100%; margin-bottom:10px;">
						<a href="#product">
							<div style="float: left;">
								<img class="img-polaroid" 	
									src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
								style="width:75px; height:50px; margin-right:5px;" /></div>
							<div style="float:left; width:180px; background: blue;">
								<h5 style="float: left; background: green; margin:0;">Empowerment Beads</h5>
								<p style="float: left; background: green; margin:0;">GH&cent; 49.99 </hp>
							</div>
						</a>
					</li>
					
					<li style="float:left; width: 100%; margin-bottom:10px;">
						<a href="#product">
							<div style="float: left;">
								<img class="img-polaroid" 	
									src="resources/Images/Brands/HeelTheWorld/Products/empowerment_beads.jpg" 
								style="width:75px; height:50px; margin-right:5px;" /></div>
							<div style="float:left; width:180px; background: blue;">
								<h5 style="float: left; background: green; margin:0;">Empowerment Beads</h5>
								<p style="float: left; background: green; margin:0;">GH&cent; 49.99 </hp>
							</div>
						</a>
					</li>

					<li style="float:left; width: 100%; text-align: right;"><a href="#">See All &gt;&gt; </a></li>														
				</ul>
				
			</div>					
		</div>
		
	</div>
	
</div> <!-- /main contnent-->
